### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
/20181116/__pycache__
/myprojects/stocks.csv
/myprojects/stocks2.csv
myprojects/sample.py
myprojects/sample.txt
lecture.py
.vscode/settings.json
lecture/
assignment/__pycache__
assignment/works